@import url('./variables.css');

@media (min-width: 576px) {
  #categories-block .category-item {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 6rem;
  }
  #categories-block .category-item .category-icon img {
    width: 6rem;
    height: auto;
  }

  .row-gap-sm-5 {
    row-gap: 5rem;
  }

  section#description-to-me, section#latest-posts {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media (min-width: 768px) {
  section#description-to-me .section-content {
    text-align: left;
  }

  /*******************************************/
  /*                ABOUT PAGE               */
  /*******************************************/
  #about-page .about-image__content {
    height: 80vh;
  }
  #about-page .cover-image-small {
    width: 10rem;
  }

  .category-layout .category-banner-top {
    width: auto;
  }

  /*******************************************/
  /*               SEARCH PAGE               */
  /*******************************************/
  #search-page button.button-close {
    border: none;
    position: absolute;
    right: 1.8rem;
    top: 0.7rem;
  }
  #search-page button.button-close {
    right: 0;
    top: 0;
  }
  #search-page .input-group-search {
    max-width: 30rem;
    margin: 1rem auto 0;
  }
  #search-page button.button-close i.fa-times{
    font-size: 2rem;
  }
}

/* SPECIFICALY */
@media only screen and (min-device-width: 576px) and (max-width: 768px) {
  #post .the-post {
    margin-right: 15px;
  }
}
