@import url('./variables.css');

@media (min-width: 576px) {
  #categories-block .category-item {
    width: 10rem;
    height: 10rem;
  }

  #categories-block .category-item .category-icon img {
    width: 6rem;
    height: auto;
  }

  .row-gap-sm-5 {
    row-gap: 5rem;
  }

  section#description-to-me, section#latest-posts {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media (min-width: 768px) {
  section#description-to-me .section-content {
    text-align: left;
  }
}