@import url('./variables.css');
@import url('./hightlight-syntax.css');
@import url('./base.css');

html {
  scroll-behavior: smooth;
}

.body {
  background-color: var(--color-gray);
}

.bg-white {
  background-color: var(--color-white);
}

.bg-golden {
  background-color: var(--color-golden);
}

.bg-blue {
  background-color: var(--color-blue);
}

.bg-ts {
  background-color: #007acc7a;
}

.row-gap-1 {
  row-gap: 1rem;
}

.fa-small {
  font-size: 1.3rem !important;
}

.cover-image-tiny {
  width: 2rem;
  height: auto;
}

.cover-image-small {
  width: 5rem;
  height: auto;
}
.image-circle {
  border-radius: 50%;
}

.text-italic {
  font-style: italic !important;
}

.post-category, .post-date {
  border-radius: 0.3rem;
  background-color: rgba(0,0,0,0.2);
  box-shadow: inset 0 1px 10px rgb(0 0 0 / 30%), 0 1px 0 rgb(255 255 255 / 10%), 0 -1px 0 rgb(0 0 0 / 50%);
  padding: 0.2rem 0.5rem;
  margin-right: 2.5px;
  font-size: .8rem;
}

header.header {
  background-color: var(--color-charleston);
}

header .navbar-light .navbar-nav .nav-link {
  color: var(--color-yellow);
  border: 1px solid transparent;
  padding: 0.3rem 1rem;
}

header .nav-item.dropdown:active .dropdown-menu,
header .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  min-width: 18rem;
  padding: 0px 2px;
  width: fit-content;
}

.dropdown-menu a.nav-item-link {
  border-top: 1px solid var(--color-anti-flash-white);
  color: var(--color-charleston);
  display: block;
  padding: .5rem 1rem;
}

.dropdown-menu a.nav-item-link:hover,
.dropdown-menu a.nav-item-link.active {
  background-color: var(--color-charleston);
  color: var(--color-yellow);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--color-white);
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, .3)
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  color: var(--color-white);
  border-color: var(--color-yellow);;
  border-radius: 10px;
}

/*******************************************/
/*                  FOOTER                 */
/*******************************************/
footer .footer-content {
  background-color: var(--color-charleston);
  opacity: .95;
  color: var(--color-white);
  padding: 2rem 0px 1rem;
}
footer .footer-cover__image {
  float: left;
  margin-right: .5rem;
  margin-bottom: .5rem;
}

footer .description-me {
  font-size: .9rem;
}

footer .social-icons {
  max-width: 10rem;
  width: 100%;
  height: 100%;
  display: flex;
  margin: 1rem auto;
  align-items: center;
}
footer .social-icons a.social-icon-item {
  height: 2.3rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  margin-left: .1rem;
  margin-right: .1rem;
  color: var(--color-white);
  transition: border-radius .3s;
}
footer .social-icons a.social-icon-item:hover, footer .social-icons a.social-icon-item:focus {
  text-decoration: none;
  opacity: .6;
  border-radius: 50%;
}
footer .fa-bg-facebook {
  background-color: #3d5998;
}
footer .fa-bg-info-circle {
  background-color: #c4475f;
}
footer .fa-bg-github {
  background-color: var(--color-black);
}
footer .fa-bg-envelope {
  background-color: #df574b;
}

footer #copyright {
  background-color: var(--color-charleston);
  color: var(--color-white);
  padding-top: .2rem;
  padding-bottom: .2rem;
}

footer #copyright > p {
  margin-bottom: 0;
  font-size: .8rem;
}

/*******************************************/
/*              CATEGORIES-HOME            */
/*******************************************/
#categories-block .background-dark {
  display: block;
  box-sizing: border-box;
  background-color: var(--color-gray);
}

#categories-block .categories-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 3rem 0rem;
}

#categories-block .category-item {
  width: 6rem;
  height: 6rem;
  margin: 0px auto;
}

#categories-block .category-item.border-circle {
  border-radius: 50%;
  border: 2px solid var(--color-charleston);
}

#categories-block .category-item .category-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
}

#categories-block .category-item__center {
  margin: 0px auto;
}

#categories-block .category-item .category-icon img {
  width: 3.8rem;
  height: auto;
}

/*******************************************/
/*            DESCRIPTION TO ME            */
/*******************************************/
section#description-to-me, section#latest-posts {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

section#description-to-me .section-person__image {
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  border-radius: 50%;
  border: 0.5rem solid transparent;
  margin: 0rem auto 1rem;
}

section#description-to-me .section-content {
  text-align: center;
}

section#description-to-me .section-person__image:hover {
  border-style: outset;
  border-color: var(--color-golden);
}

section#description-to-me .section-person__image img {
  width: 10rem;
  height: auto;
}

section#description-to-me .contact-me {
  max-width: 10rem;
  width: 100%;
}

/*******************************************/
/*               LATEST POSTS              */
/*******************************************/
section#latest-posts .post-item {
  margin-bottom: 1.2rem;
}
section#latest-posts .post-title {
  font-size: 1.2rem;
  margin-bottom: 0rem;
}

/*******************************************/
/*                ABOUT PAGE               */
/*******************************************/
#about-page .about-image__content {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 45vh;
  width: 100%;
}

#about-page .about-image__background {
  position: absolute;
  height: inherit;
  width: inherit;
  background-color: #f2f2f2;
  background-image: url(/img/featue-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  filter: blur(1px);
}
#about-page .block-content {
  z-index: 1;
}
#about-page .about-author {
  text-shadow: 1px 0px 1px;
  margin-top: 1rem;
}

/*******************************************/
/*             CATEGORY PAGE               */
/*******************************************/
.category-dsa .category-banner {
  background-color: #4aa0de;
}
.category-layout .category-banner-top {
  max-height: 16rem;
  width: 100%;
}
.category-layout .category-body {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.category-layout .post-item {
  margin: .5rem 0;
}
.category-layout .post-title {
  list-style: decimal;
}
.category-layout .card-body {
  padding: .5rem;
}
.category-layout .post-info {
  justify-content: space-between;
}
.category-layout .info-date {
  font-size: .8rem;
  text-decoration: underline;
}

/*******************************************/
/*               POST PAGE                 */
/*******************************************/
#post {
  padding: 1rem 0;
}
#post .table-of-content, #post .sidebar-left {
  display: block;
  position: sticky;
  top: 0;
}
.table-of-content {
  border: 1px solid var(--color-gainsboro);
  box-shadow: 1px 1px 1px 1px #00000014;
}
.table-of-content .table-of-content__title {
  background-color: var(--color-gainsboro);
}
.table-of-content .sidenav {
  margin-bottom: 0rem;
}
.table-of-content li.sidenav__item a,
.table-of-content li.sidenav__item.current a {
  color: var(--color-gray);
}
.table-of-content li.sidenav__item.current a {
  text-decoration: underline;
}
.table-of-content li.sidenav__item.active a {
  font-weight: 600;
}
#post .bg-post__content {
  box-shadow: 0px 0px 2px 2px #0000003d;
}
#post #content img {
  width: 100%;
  height: auto;
}
#post #content h1.title {
  font-size: 2rem;
  font-weight: 600;
}
