<footer>
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="footer-content__wrapper">
            <p class="slogan text-center mb-0">
              <i class="fa fa-quote-left" aria-hidden="true"></i>
              <i class="text-italic"><b>Language is just a programming tool!</b></i>
              <i class="fa fa-quote-right" aria-hidden="true"></i>
            </p>
            <div class="social-icons">
              <a class="social-icon-item fa-bg-facebook" target="_blank" href="https://facebook.com/duchicong">
                <i class="fa fa-facebook fa-small"></i>
              </a>
              <a class="social-icon-item fa-bg-github" target="_blank" href="https://github.com/duchicong">
                <i class="fa fa-github fa-small"></i>
              </a>
              <a class="social-icon-item fa-bg-info-circle" target="_blank" href="https://duchicong.github.io/resume">
                <i class="fa fa-info-circle fa-small"></i>
              </a>
              <a class="social-icon-item fa-bg-envelope" href="mailto:duconggpdg@gmail.com">
                <i class="fa fa-envelope fa-small"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if site.copyright %}
  <div id="copyright">
    <p class="text-center">{{ site.copyright }}</p>
  </div>
  {% endif %}
</footer>
