<!-- Slider Start -->
<section id="categories-block">
  <div class="container-fluid background-dark">
    <div class="container">
      <div class="categories">
        <div class="categories-content">
          <!-- <div class="row row-gap-sm-5 row-gap-1 row-gap-sm-5"> -->
            {% for category in site.data.categories %}
            <div class="category-item">
              <!-- <div class="category-item"> -->
                <div class="category-item__content">
                  <div class="category-item__icon bg-black-faint">
                    <a href="{{ category.url }}" title="{{ category.title }}">
                      <img src="{{ category.src }}" alt="{{ category.title }}" class="{{ category.class }}">
                    </a>
                  </div>
                  <div class="category-item__title text-center">
                    {% if category.alias %}
                      {{ category.alias }}
                    {% else %}
                      {{ category.title }}
                    {% endif %}
                  </div>
                </div>
              <!-- </div> -->
            </div>
            {% endfor %}
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
