<!-- Slider Start -->
<section id="categories-block">
  <div class="container-fluid background-dark">
    <div class="container">
      <div class="categories-content">
        <div class="row row-gap-sm-5 row-gap-1 row-gap-sm-5">
          {% for category in site.data.categories %}
          <div class="col-sm-4 col-6 category-item__center">
            <div class="category-item">
              <div class="category-item border-circle {{ category.class }}">
                <div class="category-icon">
                  <a href="{{ category.url }}" title="{{ category.title }}">
                    <img src="{{ category.src }}" alt="{{ category.title }}">
                  </a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>