<div class="row">
  <div class="col-12 col-md-4">
    <div class="section-person">
      <div class="section-person__image">
        <img src="{{ site.data.self.img-medium }}" alt="CongDC">
      </div>
    </div>
  </div>
  <div class="col-12 col-md-8">
    <div class="section-content">
      <h2><strong>OOPS!!</strong></h2>
      <p>Chào! Cảm ơn bạn đã ghé thăm trang của tôi.</p>
      
      <p class="description">
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        Trang này tạo ra với mục đích viết lại mọi thứ trong quá trình học tập và làm việc của mình.
        <br />
        Bao gồm kỹ năng, công nghệ và các bài tips, tricks nho nhỏ.
        <br />
        Nếu bạn đọc thấy không hợp lý về mặt nội dung, làm ơn góp ý và đừng ném đá mình nhé :))
        <i class="fa fa-quote-right" aria-hidden="true"></i>
      </p>
      <a href="/contact.html" class="btn btn-dark contact-me">Liên hệ tôi</a>
    </div>
  </div>
</div>