<div class="latest-posts-wrapper">
  <div class="section-title text-center text-light">
    <h2>Các chủ đề mới nhất</h2>
    <p>Các bài đăng gần đây, theo từng danh mục</p>
  </div>
  <div class="the-posts">
    <div class="row">
      {% for post in site.posts limit:12 %}
      <div class="col-12 col-sm-6 col-lg-4 text-light">
        <div class="post-item">
          <h3 class="post-title">
            <a class="text-warning" href="{{ post.url }}" title="{{ post.title }}">
              {{ post.title }}
            </a>
          </h3>
          <span class="post-category">{{ post.categories }}</span>
          <span class="post-date">{{ post.date | date: "%d/%m/%Y" }}</span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
